/*--------------------------------------------------------------------------------------------------------
                                    floatAd.css V1.0 	2016-11-25
    悬浮广告相关的CSS文件，完成后将其加入rainier.js
--------------------------------------------------------------------------------------------------------*/
.ra-float{
    position: absolute;
    border:1px solid #000;
    z-index:：9999;
}