/*--------------------------------------------------------------------------------------------------------
                                    floatAd.css V1.0 	2016-11-25
    悬浮广告相关的CSS文件，完成后将其加入rainier.js
--------------------------------------------------------------------------------------------------------*/
.ra-float{
    position: absolute;
    z-index:：9999;
}
.ra-float-con{
    position: relative;
    width: 100%;
    height:100%;
}
.ra-float-btn{
    position: absolute;
    width:16px;
    height:16px;
    right:0;
    top:0;
    cursor:pointer;
}
.ra-float-img{
    width:100%;
    height:100%;
}