/*------------------------------------------------------------------
                             响应式栅格系统
-------------------------------------------------------------------*/
.clearfix::before, 
.clearfix::after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix::after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media ( min-width : 768px) {
  .container {width: 750px;}
}
@media ( min-width : 992px) {
  .container {width: 970px;}
}
@media ( min-width : 1200px) {
  .container {width: 1170px;}
}
@media ( min-width : 1300px) {
  .container {width: 1270px;}
}
@media ( min-width : 1400px) {
  .container {width: 95%;}
}
@media print{
  .container {width:auto;}
}
.row{
  box-sizing:border-box; 
  margin-left:-15px;
  margin-right:-15px;
}
 .col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {min-height: 1px;position: relative; padding-left:15px; padding-right:15px; box-sizing:border-box;
  -webkit-transition:all 0.3s ease-in;
  -moz-transition:all 0.3s ease-in;
  -o-transition:all 0.3s ease-in;
  transition:all 0.3s ease-in}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}
.col-xs-12 {width: 100%}
.col-xs-11 {width: 91.66666667%}
.col-xs-10 {width: 83.33333333%}
.col-xs-9 {width: 75%}
.col-xs-8 {width: 66.66666667%}
.col-xs-7 {width: 58.33333333%}
.col-xs-6 {width: 50%}
.col-xs-5 {width: 41.66666667%}
.col-xs-4 {width: 33.33333333%}
.col-xs-3 {width: 25%}
.col-xs-2 {width: 16.66666667%}
.col-xs-1 {width: 8.33333333%}
.col-xs-pull-12 {right: 100%}
.col-xs-pull-11 {right: 91.66666667%}
.col-xs-pull-10 {right: 83.33333333%}
.col-xs-pull-9 {right: 75%}
.col-xs-pull-8 {right: 66.66666667%}
.col-xs-pull-7 {right: 58.33333333%}
.col-xs-pull-6 {right: 50%}
.col-xs-pull-5 {right: 41.66666667%}
.col-xs-pull-4 {right: 33.33333333%}
.col-xs-pull-3 {right: 25%}
.col-xs-pull-2 {right: 16.66666667%}
.col-xs-pull-1 {right: 8.33333333%}
.col-xs-pull-0 {right: auto}
.col-xs-push-12 {left: 100%}
.col-xs-push-11 {left: 91.66666667%}
.col-xs-push-10 {left: 83.33333333%}
.col-xs-push-9 {left: 75%}
.col-xs-push-8 {left: 66.66666667%}
.col-xs-push-7 {left: 58.33333333%}
.col-xs-push-6 {left: 50%}
.col-xs-push-5 {left: 41.66666667%}
.col-xs-push-4 {left: 33.33333333%}
.col-xs-push-3 {left: 25%}
.col-xs-push-2 {left: 16.66666667%}
.col-xs-push-1 {left: 8.33333333%}
.col-xs-push-0 {left: auto}
.col-xs-offset-12 {margin-left: 100%}
.col-xs-offset-11 {margin-left: 91.66666667%}
.col-xs-offset-10 {margin-left: 83.33333333%}
.col-xs-offset-9 {margin-left: 75%}
.col-xs-offset-8 {margin-left: 66.66666667%}
.col-xs-offset-7 {margin-left: 58.33333333%}
.col-xs-offset-6 {margin-left: 50%}
.col-xs-offset-5 {margin-left: 41.66666667%}
.col-xs-offset-4 {margin-left: 33.33333333%}
.col-xs-offset-3 {margin-left: 25%}
.col-xs-offset-2 {margin-left: 16.66666667%}
.col-xs-offset-1 {margin-left: 8.33333333%}
.col-xs-offset-0 {margin-left: 0}
@media(min-width:768px){
  .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
  .col-sm-12{width:100%}
  .col-sm-11{width:91.66666666666666%}
  .col-sm-10{width:83.33333333333334%}
  .col-sm-9{width:75%}
  .col-sm-8{width:66.66666666666666%}
  .col-sm-7{width:58.333333333333336%}
  .col-sm-6{width:50%}
  .col-sm-5{width:41.66666666666667%}
  .col-sm-4{width:33.33333333333333%}
  .col-sm-3{width:25%}
  .col-sm-2{width:16.666666666666664%}
  .col-sm-1{width:8.333333333333332%}
  .col-sm-pull-12{right:100%}
  .col-sm-pull-11{right:91.66666666666666%}
  .col-sm-pull-10{right:83.33333333333334%}
  .col-sm-pull-9{right:75%}
  .col-sm-pull-8{right:66.66666666666666%}
  .col-sm-pull-7{right:58.333333333333336%}
  .col-sm-pull-6{right:50%}
  .col-sm-pull-5{right:41.66666666666667%}
  .col-sm-pull-4{right:33.33333333333333%}
  .col-sm-pull-3{right:25%}
  .col-sm-pull-2{right:16.666666666666664%}
  .col-sm-pull-1{right:8.333333333333332%}
  .col-sm-pull-0{right:0}
  .col-sm-push-12{left:100%}
  .col-sm-push-11{left:91.66666666666666%}
  .col-sm-push-10{left:83.33333333333334%}
  .col-sm-push-9{left:75%}
  .col-sm-push-8{left:66.66666666666666%}
  .col-sm-push-7{left:58.333333333333336%}
  .col-sm-push-6{left:50%}
  .col-sm-push-5{left:41.66666666666667%}
  .col-sm-push-4{left:33.33333333333333%}
  .col-sm-push-3{left:25%}
  .col-sm-push-2{left:16.666666666666664%}
  .col-sm-push-1{left:8.333333333333332%}
  .col-sm-push-0{left:0}
  .col-sm-offset-12{margin-left:100%}
  .col-sm-offset-11{margin-left:91.66666666666666%}
  .col-sm-offset-10{margin-left:83.33333333333334%}
  .col-sm-offset-9{margin-left:75%}
  .col-sm-offset-8{margin-left:66.66666666666666%}
  .col-sm-offset-7{margin-left:58.333333333333336%}
  .col-sm-offset-6{margin-left:50%}
  .col-sm-offset-5{margin-left:41.66666666666667%}
  .col-sm-offset-4{margin-left:33.33333333333333%}
  .col-sm-offset-3{margin-left:25%}
  .col-sm-offset-2{margin-left:16.666666666666664%}
  .col-sm-offset-1{margin-left:8.333333333333332%}
  .col-sm-offset-0{margin-left:0}
}
@media(min-width:992px){
  .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
  .col-md-12{width:100%}
  .col-md-11{width:91.66666666666666%}
  .col-md-10{width:83.33333333333334%}
  .col-md-9{width:75%}
  .col-md-8{width:66.66666666666666%}
  .col-md-7{width:58.333333333333336%}
  .col-md-6{width:50%}
  .col-md-5{width:41.66666666666667%}
  .col-md-4{width:33.33333333333333%}
  .col-md-3{width:25%}
  .col-md-2{width:16.666666666666664%}
  .col-md-1{width:8.333333333333332%}
  .col-md-pull-12{right:100%}
  .col-md-pull-11{right:91.66666666666666%}
  .col-md-pull-10{right:83.33333333333334%}
  .col-md-pull-9{right:75%}
  .col-md-pull-8{right:66.66666666666666%}
  .col-md-pull-7{right:58.333333333333336%}
  .col-md-pull-6{right:50%}
  .col-md-pull-5{right:41.66666666666667%}
  .col-md-pull-4{right:33.33333333333333%}
  .col-md-pull-3{right:25%}
  .col-md-pull-2{right:16.666666666666664%}
  .col-md-pull-1{right:8.333333333333332%}
  .col-md-pull-0{right:0}
  .col-md-push-12{left:100%}
  .col-md-push-11{left:91.66666666666666%}
  .col-md-push-10{left:83.33333333333334%}
  .col-md-push-9{left:75%}
  .col-md-push-8{left:66.66666666666666%}
  .col-md-push-7{left:58.333333333333336%}
  .col-md-push-6{left:50%}
  .col-md-push-5{left:41.66666666666667%}
  .col-md-push-4{left:33.33333333333333%}
  .col-md-push-3{left:25%}
  .col-md-push-2{left:16.666666666666664%}
  .col-md-push-1{left:8.333333333333332%}
  .col-md-push-0{left:0}
  .col-md-offset-12{margin-left:100%}
  .col-md-offset-11{margin-left:91.66666666666666%}
  .col-md-offset-10{margin-left:83.33333333333334%}
  .col-md-offset-9{margin-left:75%}
  .col-md-offset-8{margin-left:66.66666666666666%}
  .col-md-offset-7{margin-left:58.333333333333336%}
  .col-md-offset-6{margin-left:50%}
  .col-md-offset-5{margin-left:41.66666666666667%}
  .col-md-offset-4{margin-left:33.33333333333333%}
  .col-md-offset-3{margin-left:25%}
  .col-md-offset-2{margin-left:16.666666666666664%}
  .col-md-offset-1{margin-left:8.333333333333332%}
  .col-md-offset-0{margin-left:0}
}
@media(min-width:1200px){
  .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
  .col-lg-12{width:100%}
  .col-lg-11{width:91.66666666666666%}
  .col-lg-10{width:83.33333333333334%}
  .col-lg-9{width:75%}
  .col-lg-8{width:66.66666666666666%}
  .col-lg-7{width:58.333333333333336%}
  .col-lg-6{width:50%}
  .col-lg-5{width:41.66666666666667%}
  .col-lg-4{width:33.33333333333333%}
  .col-lg-3{width:25%}
  .col-lg-2{width:16.666666666666664%}
  .col-lg-1{width:8.333333333333332%}
  .col-lg-pull-12{right:100%}
  .col-lg-pull-11{right:91.66666666666666%}
  .col-lg-pull-10{right:83.33333333333334%}
  .col-lg-pull-9{right:75%}
  .col-lg-pull-8{right:66.66666666666666%}
  .col-lg-pull-7{right:58.333333333333336%}
  .col-lg-pull-6{right:50%}
  .col-lg-pull-5{right:41.66666666666667%}
  .col-lg-pull-4{right:33.33333333333333%}
  .col-lg-pull-3{right:25%}
  .col-lg-pull-2{right:16.666666666666664%}
  .col-lg-pull-1{right:8.333333333333332%}
  .col-lg-pull-0{right:0}
  .col-lg-push-12{left:100%}
  .col-lg-push-11{left:91.66666666666666%}
  .col-lg-push-10{left:83.33333333333334%}
  .col-lg-push-9{left:75%}
  .col-lg-push-8{left:66.66666666666666%}
  .col-lg-push-7{left:58.333333333333336%}
  .col-lg-push-6{left:50%}
  .col-lg-push-5{left:41.66666666666667%}
  .col-lg-push-4{left:33.33333333333333%}
  .col-lg-push-3{left:25%}
  .col-lg-push-2{left:16.666666666666664%}
  .col-lg-push-1{left:8.333333333333332%}
  .col-lg-push-0{left:0}
  .col-lg-offset-12{margin-left:100%}
  .col-lg-offset-11{margin-left:91.66666666666666%}
  .col-lg-offset-10{margin-left:83.33333333333334%}
  .col-lg-offset-9{margin-left:75%}
  .col-lg-offset-8{margin-left:66.66666666666666%}
  .col-lg-offset-7{margin-left:58.333333333333336%}
  .col-lg-offset-6{margin-left:50%}
  .col-lg-offset-5{margin-left:41.66666666666667%}
  .col-lg-offset-4{margin-left:33.33333333333333%}
  .col-lg-offset-3{margin-left:25%}
  .col-lg-offset-2{margin-left:16.666666666666664%}
  .col-lg-offset-1{margin-left:8.333333333333332%}
  .col-lg-offset-0{margin-left:0}
}
@media(min-width:1600px){
  .col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{float:left;}
  .col-xl-12{width:100%}
  .col-xl-11{width:91.66666666666666%}
  .col-xl-10{width:83.33333333333334%}
  .col-xl-9{width:75%}
  .col-xl-8{width:66.66666666666666%}
  .col-xl-7{width:58.333333333333336%}
  .col-xl-6{width:50%}
  .col-xl-5{width:41.66666666666667%}
  .col-xl-4{width:33.33333333333333%}
  .col-xl-3{width:25%}
  .col-xl-2{width:16.666666666666664%}
  .col-xl-1{width:8.333333333333332%}
  .col-xl-pull-12{right:100%}
  .col-xl-pull-11{right:91.66666666666666%}
  .col-xl-pull-10{right:83.33333333333334%}
  .col-xl-pull-9{right:75%}
  .col-xl-pull-8{right:66.66666666666666%}
  .col-xl-pull-7{right:58.333333333333336%}
  .col-xl-pull-6{right:50%}
  .col-xl-pull-5{right:41.66666666666667%}
  .col-xl-pull-4{right:33.33333333333333%}
  .col-xl-pull-3{right:25%}
  .col-xl-pull-2{right:16.666666666666664%}
  .col-xl-pull-1{right:8.333333333333332%}
  .col-xl-pull-0{right:0}
  .col-xl-push-12{left:100%}
  .col-xl-push-11{left:91.66666666666666%}
  .col-xl-push-10{left:83.33333333333334%}
  .col-xl-push-9{left:75%}
  .col-xl-push-8{left:66.66666666666666%}
  .col-xl-push-7{left:58.333333333333336%}
  .col-xl-push-6{left:50%}
  .col-xl-push-5{left:41.66666666666667%}
  .col-xl-push-4{left:33.33333333333333%}
  .col-xl-push-3{left:25%}
  .col-xl-push-2{left:16.666666666666664%}
  .col-xl-push-1{left:8.333333333333332%}
  .col-xl-push-0{left:0}
  .col-xl-offset-12{margin-left:100%}
  .col-xl-offset-11{margin-left:91.66666666666666%}
  .col-xl-offset-10{margin-left:83.33333333333334%}
  .col-xl-offset-9{margin-left:75%}
  .col-xl-offset-8{margin-left:66.66666666666666%}
  .col-xl-offset-7{margin-left:58.333333333333336%}
  .col-xl-offset-6{margin-left:50%}
  .col-xl-offset-5{margin-left:41.66666666666667%}
  .col-xl-offset-4{margin-left:33.33333333333333%}
  .col-xl-offset-3{margin-left:25%}
  .col-xl-offset-2{margin-left:16.666666666666664%}
  .col-xl-offset-1{margin-left:8.333333333333332%}
  .col-xl-offset-0{margin-left:0}
}  
/*------------------------------------------------------------------
                          响应式显示隐藏系统
  命名规则：
    显示：.show-xl .show-lg .show-md .show-sm .show-xs
    隐藏：.hide-xl .hide-lg .hide-md .hide-sm .hide-xs

    默认显示方式为：display:none;
    可选的显示方式：.show-xs-block {display: block !important}
                    .show-xs-inline {display: inline !important}
                    .show-xs-inline-block {display: inline-block !important}
-------------------------------------------------------------------*/
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xs-block,
.show-xs-inline,
.show-xs-inline-block,
.show-sm-block,
.show-sm-inline,
.show-sm-inline-block,
.show-md-block,
.show-md-inline,
.show-md-inline-block,
.show-lg-block,
.show-lg-inline,
.show-lg-inline-block {
  display: none !important}
@media ( max-width : 767px) {
  .show-xs {display: block !important}
  table.show-xs {display: table}
  tr.show-xs {display: table-row !important}
  th.show-xs,td.show-xs {display: table-cell !important}
  .hide-xs {display: none !important}
  .show-xs-block {display: block !important}
  .show-xs-inline {display: inline !important}
  .show-xs-inline-block {display: inline-block !important}
}
@media ( min-width : 768px) and (max-width: 991px) {
  .show-sm {display: block !important}
  table.show-sm {display: table}
  tr.show-sm {display: table-row !important}
  th.show-sm,td.show-sm {display: table-cell !important}
  .hide-sm {display: none !important}
  .show-sm-block {display: block !important}
  .show-sm-inline {display: inline !important}
  .show-sm-inline-block {display: inline-block !important}
}
@media ( min-width : 992px) and (max-width: 1199px) {
  .show-md {display: block !important}
  table.show-md {display: table}
  tr.show-md {display: table-row !important}
  th.show-md,td.show-md {display: table-cell !important}
  .hide-md {display: none !important}
  .show-md-block {display: block !important}
  .show-md-inline {display: inline !important}
  .show-md-inline-block {display: inline-block !important}
}
@media ( min-width : 1200px) and (max-width: 1599px) {
  .show-lg {display: block !important}
  table.show-lg {display: table}
  tr.show-lg {display: table-row !important}
  th.show-lg,td.show-lg {display: table-cell !important}
  .hide-lg {display: none !important}
  .show-lg-block {display: block !important}
  .show-lg-inline {display: inline !important}
  .show-lg-inline-block {display: inline-block !important}
}

@media ( min-width : 1600px) {
  .show-xl {display: block !important}
  table.show-xl {display: table}
  tr.show-xl {display: table-row !important}
  th.show-xl,td.show-xl {display: table-cell !important}
  .hide-xl {display: none !important}
  .show-xl-block {display: block !important}
  .show-xl-inline {display: inline !important}
  .show-xl-inline-block {display: inline-block !important}
}

.show-print {display: none !important}
.show-print-block {display: none !important}
.show-print-inline {display: none !important}
.show-print-inline-block {display: none !important}
@media print {
  .show-print {display: block !important}
  table.show-print {display: table}
  tr.show-print {display: table-row !important}
  th.show-print,td.show-print {display: table-cell !important}
  .show-print-block {display: block !important}
  .show-print-inline {display: inline !important}
  .show-print-inline-block {display: inline-block !important}
  .hide-print {display: none !important}
}
/*------------------------------------------------------------------
                          HERE IS BUTTONS
-------------------------------------------------------------------*/
.btn {
  display: inline-block;
  padding:0 16px;
  margin-bottom: 0;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 27px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
a.btn{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  *line-height: 31px;
}

input.btn{
  *overflow: show;
  *margin-right: 5px !important;
}

.btn.disabled,
.btn[disabled]{
  pointer-events: none;
  cursor:not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
  background-color: #e7e7e7;
  border-color: #999;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover{
  color: #333;
  background-color: #e7e7e7;
  border-color: #999;
}

.btn-original{
  color: #fff;
  background-color: #1a80e6;
  border-color: #2389a6;
}
.btn-original:hover{
  color: #fff;
  background-color: #0867cd;
  border-color: #096f8c;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover{
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-sys{
  color: #333;
  background-color: #f2f2f2;
  border-color: #999;
}
.btn-sys:hover{
  color: #fff;
  background-color: #3399ff;
  border-color: #0066ff;
}

.btn-big{
  padding: 0px 22px;
  font-size: 18px;
  line-height: 39px;
  *line-height: 29px;
  border-radius: 6px;
}

.btn-nor{
  padding: 0px 16px;
  font-size: 12px;
  line-height: 27px;
  *line-height: 25px;
  border-radius: 4px;
}
.btn-sml{
  padding: 0px 5px;
  font-size: 12px;
  line-height:18px;
  *line-height: 17px;
  border-radius: 3px;
}

a.btn-nor{
  *line-height: 31px;
}

a.btn-big{
  *line-height: 37px;
}

a.btn-sml{
  *line-height: 21px;
}
/*------------------------------------------------------------------
                        HERE IS BUTTON-GROUP
-------------------------------------------------------------------*/
.group-container div[class^="btn-group"]{
    display: inline-block;
}
div[class^="btn-group"]{
        font-size: 0;
}
div[class^="btn-group"] .btn{
    margin-left:-1px;
}
div[class^="btn-group"] .btn:not(:first-child):not(:last-child){ 
    border-radius:0
}
div[class^="btn-group"] > .btn:first-child:not(:last-child){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
div[class^="btn-group"] > .btn:last-child:not(:first-child){
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group-sml .btn{
    padding: 0px 5px;
    font-size: 12px;
    line-height:18px;
    *line-height: 17px;
    border-radius: 3px;
}
.btn-group-nor .btn{
    padding: 0px 16px;
    font-size: 12px;
    line-height: 27px;
    *line-height: 25px;
    border-radius: 4px;
}
.btn-group-big .btn{
    padding: 0px 22px;
    font-size: 18px;
    line-height: 39px;
    *line-height: 29px;
    border-radius: 6px;
}
/*------------------------------------------------------------------
                        HERE IS FORM ELEMENTS
-------------------------------------------------------------------*/
.input-text,
.textarea,
.select{
  box-sizing:border-box;
  border:solid 1px #aaaaaa;
  border-radius: 3px;
  -webkit-transition:all 0.2s linear 0s;
  -moz-transition:all 0.2s linear 0s;
  -o-transition:all 0.2s linear 0s;
  transition:all 0.2s linear 0s;
}

.input-text.form-danger,
.textarea.form-danger,
.select.form-danger{
    border:solid 1px #d43f3a;
    color:#d9534f;
}
.input-text.form-success,
.textarea.form-success,
.select.form-success{
    border:solid 1px #4cae4c;
    color:#5cb85c;
}

.textarea{
  height:auto;
  font-size:14px;
  padding:4px;
}
:-moz-placeholder {
    color: #bebebe; opacity:1; 
}
::-moz-placeholder {
    color: #bebebe;opacity:1;
}
input:-ms-input-placeholder{
    color: #bebebe;opacity:1;
}
input::-webkit-input-placeholder{
    color: #bebebe;opacity:1;
}
.size-sml{
  font-size: 12px;
  height: 23px;
  *line-height: 23px;
  padding: 2px 5px;
}
.size-nor{
  font-size: 13px;
  height: 27px;
  *line-height: 27px;
  padding: 3px 6px;
  *padding: 1px 6px;
}
.size-big{
  font-size: 16px;
  height: 31px;
  *line-height: 31px;
  padding: 4px 7px;
}
.textarea.size-sml,
.textarea.size-nor,
.textarea.size-big{
  height: 110px;  
}
.select.size-sml{
  padding:0 1px;
}
.select.size-nor{
  padding:0 2px;
}
.select.size-big{ 
  padding:0 3px;
}

.input-text:hover,
.textarea:hover,
.select:hover{
  color:#000;
  border: solid 1px #3bb4f2;
}

.input-text:focus,
.textarea:focus,
.select:focus{
  color:#000;
  border:solid 1px #0f9ae0 \9;
  border-color:rgba(82,168,236,0.8);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-text[disabled],
.textarea[disabled],
.input-text.disabled.focus,
.textarea.disabled.focus,
.select.disabled.focus{
  background-color:#ededed;
  cursor:default;
  border-color: #ddd;
  -webkit-box-shadow:inset 0 2px 2px #e8e7e7;
  -moz-box-shadow:inset 0 2px 2px #e8e7e7;
  box-shadow:inset 0 2px 2px #e8e7e7;
}

.input-text[disabled],
.textarea[disabled]{
  background-color:#e6e6e6;
  cursor:not-allowed;
}

.input-text.box-shadow,
.textarea.box-shadow,
.select.box-shadow{
  -ms-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
/*------------------------------------------------------------------
                        HERE , WE START TABLE

  We hope that if you start using the table component, you will get a 
table that is similar to the default table, but will make you feel more 
beautiful. So, by default, we just change the color of the border, and give 
the part of the complement.
-------------------------------------------------------------------*/
table{
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
}
.table{
  border:1px solid #dddddd;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color:#555555;
}
.table-striped tbody > tr:nth-child(odd),
.table-striped tbody > tr:nth-child(odd){
  background-color:#F7FaF0;
}
.table-hover tbody>tr:hover{
  background-color:#f0f0f0;
}
.table caption{
  color: #999;
  text-align: left;
  font-size: 13px;
  font-style: italic;
}
.table tr{
  border-bottom: 1px solid #dddddd;
}
.table td,.table th{
  white-space:nowrap; 
  padding:8px;
  font-weight: normal;
  border-bottom:1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.text-l{
  text-align: left;
}
.text-c{
  text-align: center;
}
.text-r{
  text-align: right;
}
tr.text-bold,
td.text-bold,
th.text-bold{
  font-weight: bold;
  color: #3d3d3d;
}
table.table-danger,
tr.table-danger,
td.table-danger,
th.table-danger{
  background:#fc7b77;
}
table.table-success,
tr.table-success,
td.table-success,
th.table-success{
  background:#8ce88c;
}
table.table-warning,
tr.table-warning,
td.table-warning,
th.table-warning{
    background:#f7a734;
}
.table-container-overflow{
  overflow:auto;
}

/*------------------------------------------------------------------
                        HERE , CSS FOR TIPS
-------------------------------------------------------------------*/
#tooltip{
  box-sizing:border-box; 
  position:absolute; 
  border:1px solid #000;
  border-radius: 5px; 
  padding:1px 4px;
  color:#fff;
  background:#000;
  line-height:21px;
  font-size: 12px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip-top .tooltip-arrow {
  left: 50%;
  bottom: -6px;
  margin-left: -5px;
  border-width: 5px 5px 0 5px;
  border-top-color: #000;
}
.tooltip-right .tooltip-arrow {
  top: 50%;
  left: -6px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip-bottom .tooltip-arrow {
  left: 50%;
  top: -6px;
  margin-left: -5px;
  border-width: 0 5px 5px 5px;
  border-bottom-color: #000;
}
.tooltip-left .tooltip-arrow {
  top: 50%;
  right: -6px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
/*------------------------------------------------------------------
                        HERE , CSS FOR BACKTOP
-------------------------------------------------------------------*/
.backTop{
  position:fixed;
  bottom:10px;
  right:20px;
  z-index:999;
  display: none;
  width:50px;
  height:50px;
  background: #86ADCD;
  border-radius: 8px;
  cursor: pointer;
}
.arrow-top{
  position: relative; 
  width:0;
  height:0;
  border-style: solid; 
  border-width: 0 18px 15px 18px;
  border-color: transparent;
  border-bottom-color: #fff;
  top:15px;
  margin:0 auto;
}
.arrow-top::before, .arrow-top::after {
  position: absolute;
}  
.arrow-top::before {
  content: "";
  width:40px;
  height:3px;
  background:#fff;
  top:-4px;
  left:-20px;
}  
.arrow-top::after {
  content: "";
  width:20px;
  height:10px;
  background:#fff;
  top:15px;
  left:-10px;
}  
.backTop:hover{
  background:#2C70A8;
}
/*------------------------------------------------------------------
                        HERE , CSS FOR DROPDOWN
-------------------------------------------------------------------*/
.dropdown{
    display: inline-block;
    position:relative;
}
.dropdown-toggle{
    position: relative;
}
.dropdown-menu{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    left:0;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333; 
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px; 
    white-space: nowrap;
    text-decoration:none;
}
.dropdown-menu-right{
    left: 100%;
    top:0;
    margin: 0 2px;
}

.arrow-down{
    display: inline-block;
    position:relative;
    width:0;
    height:0;
    border-style: solid;
    border-width: .3em;
    border-color:transparent;
    border-top-color: #333;
    margin-left: .3em;
}
.arrow-right{
     display: inline-block;
    position:relative;
    width:0;
    height:0;
    border-style: solid;
    border-width: .3em;
    border-color:transparent;
    border-left-color: #333;
    margin-left: .3em;
}