/*------------------------------------------------------------------
                          HERE IS BUTTONS
-------------------------------------------------------------------*/
.btn {
  display: inline-block;
  padding:0 16px;
  margin-bottom: 0;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 27px;
}
a.btn{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  *line-height: 31px;
}

input.btn{
  *overflow: visible;
  *margin-right: 5px !important;
}

.btn.disabled,
.btn[disabled]{
  pointer-events: none;
  cursor:not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover{
  color: #333;
  background-color: #e7e7e7;
  border-color: #999;
}

.btn-original{
  color: #fff;
  background-color: #1a80e6;
  border-color: #2389a6;
}
.btn-original:hover{
  color: #fff;
  background-color: #0867cd;
  border-color: #096f8c;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover{
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-sys{
  color: #333;
  background-color: #f2f2f2;
  border-color: #999;
}
.btn-sys:hover{
  color: #fff;
  background-color: #3399ff;
  border-color: #0066ff;
}

.btn-big{
  padding: 0px 22px;
  font-size: 18px;
  line-height: 39px;
  *line-height: 29px;
  border-radius: 6px;
}

.btn-nor{
  padding: 0px 16px;
  font-size: 12px;
  line-height: 27px;
  *line-height: 25px;
  border-radius: 4px;
}
.btn-sml{
  padding: 0px 5px;
  font-size: 12px;
  line-height:18px;
  *line-height: 17px;
  border-radius: 3px;
}

a.btn-nor{
  *line-height: 31px;
}

a.btn-big{
  *line-height: 37px;
}

a.btn-sml{
  *line-height: 21px;
}
/*------------------------------------------------------------------
                        HERE IS FORM ELEMENTS
-------------------------------------------------------------------*/
.input-text,
.textarea,
.select{
  box-sizing:border-box;
  border:solid 1px #aaaaaa;
  border-radius: 3px;
  -webkit-transition:all 0.2s linear 0s;
  -moz-transition:all 0.2s linear 0s;
  -o-transition:all 0.2s linear 0s;
  transition:all 0.2s linear 0s;
}

.input-text.form-danger,
.textarea.form-danger,
.select.form-danger{
    border:solid 1px #d43f3a;
    color:#d9534f;
}
.input-text.form-success,
.textarea.form-success,
.select.form-success{
    border:solid 1px #4cae4c;
    color:#5cb85c;
}

.textarea{
  height:auto;
  font-size:14px;
  padding:4px;
}
:-moz-placeholder {
    color: #bebebe; opacity:1; 
}
::-moz-placeholder {
    color: #bebebe;opacity:1;
}
input:-ms-input-placeholder{
    color: #bebebe;opacity:1;
}
input::-webkit-input-placeholder{
    color: #bebebe;opacity:1;
}
.size-sml{
  font-size: 12px;
  height: 23px;
  *line-height: 23px;
  padding: 2px 5px;
}
.size-nor{
  font-size: 13px;
  height: 27px;
  *line-height: 27px;
  padding: 3px 6px;
  *padding: 1px 6px;
}
.size-big{
  font-size: 16px;
  height: 31px;
  *line-height: 31px;
  padding: 4px 7px;
}
.textarea.size-sml,
.textarea.size-nor,
.textarea.size-big{
  height: 110px;  
}
.select.size-sml{
  padding:0 1px;
}
.select.size-nor{
  padding:0 2px;
}
.select.size-big{ 
  padding:0 3px;
}

.input-text:hover,
.textarea:hover,
.select:hover{
  color:#000;
  border: solid 1px #3bb4f2;
}

.input-text:focus,
.textarea:focus,
.select:focus{
  color:#000;
  border:solid 1px #0f9ae0 \9;
  border-color:rgba(82,168,236,0.8);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-text[disabled],
.textarea[disabled],
.input-text.disabled.focus,
.textarea.disabled.focus,
.select.disabled.focus{
  background-color:#ededed;
  cursor:default;
  border-color: #ddd;
  -webkit-box-shadow:inset 0 2px 2px #e8e7e7;
  -moz-box-shadow:inset 0 2px 2px #e8e7e7;
  box-shadow:inset 0 2px 2px #e8e7e7;
}

.input-text[disabled],
.textarea[disabled]{
  background-color:#e6e6e6;
  cursor:not-allowed;
}

.input-text.box-shadow,
.textarea.box-shadow,
.select.box-shadow{
  -ms-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
/*------------------------------------------------------------------
                        HERE , WE START TABLE

  We hope that if you start using the table component, you will get a 
table that is similar to the default table, but will make you feel more 
beautiful. So, by default, we just change the color of the border, and give 
the part of the complement.
-------------------------------------------------------------------*/
table{
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
}
.table{
  border:1px solid #dddddd;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color:#555555;
}
.table-striped tbody > tr:nth-child(odd),
.table-striped tbody > tr:nth-child(odd){
  background-color:#F7FaF0;
}
.table-hover tbody>tr:hover{
  background-color:#f0f0f0;
}
.table caption{
  color: #999;
  text-align: left;
  font-size: 13px;
  font-style: italic;
}
.table tr{
  border-bottom: 1px solid #dddddd;
}
.table td,.table th{
  white-space:nowrap; 
  padding:8px;
  font-weight: normal;
  border-bottom:1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.text-l{
  text-align: left;
}
.text-c{
  text-align: center;
}
.text-r{
  text-align: right;
}
tr.text-bold,
td.text-bold,
th.text-bold{
  font-weight: bold;
  color: #3d3d3d;
}
table.table-danger,
tr.table-danger,
td.table-danger,
th.table-danger{
  background:#fc7b77;
}
table.table-success,
tr.table-success,
td.table-success,
th.table-success{
  background:#8ce88c;
}
table.table-warning,
tr.table-warning,
td.table-warning,
th.table-warning{
    background:#f7a734;
}
.table-container-overflow{
  overflow:auto;
}
